@use 'mixins' as *;
@use 'media' as *;

body {
	font-family: var(--font-family-base);
	font-size: 14px;
	font-weight: 500;
	color: var(--color-dark);
	transition-duration: var(--transition-duration);
}

a {
	color: inherit;

	@include hover {
		color: var(--color-accent);
	}

	&[class] {
		text-decoration: none;
	}
}

textarea {
	resize: none;
}
