@use '../mixins' as *;
@use '../media' as *;

.button {
	@include flex-center(true);
	@include reset-button();

	padding: 12px 26px;
	font-weight: 700;
	border: 1px solid transparent;
	background-color: var(--color-accent);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	transition-duration: var(--transition-duration);

	@include hover {
		background-color: transparent;
		border-color: var(--color-accent);
	}

	&-transparent {
		background-color: transparent;
		box-shadow: none;

		@include hover {
			border-color: var(--color-accent);
		}
	}
}
