@use '../media' as *;

.portfolio {
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 5px;

		@include mobile-m {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
		@include mobile-m {
			width: 280px;
			height: 280px;

			& img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		&:nth-child(4) {
			grid-row: 1 / 3;
			grid-column: 4 / 5;
		}

		&:nth-child(6) {
			grid-column: 2 / 4;
		}
	}
}
